

@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128+Text&family=Libre+Barcode+39+Text&display=swap');
@keyframes glitch-animation {
      0% { transform: translate(0); }
      100% { transform: translate(0); }
    }
@keyframes fadeIn {
        from { opacity: 0; transform: translateY(-10px); }
        to { opacity: 1; transform: translateY(0); }
      }



    /* Nav */
    .font-barcode {
      font-family: "Libre Barcode 39 Text", system-ui;
      font-weight: 400;
      font-style: normal;
      font-size:xx-large;
    }
