@keyframes pulse {
    0% {
        background-color: #3c3c3c;
    }
    50% {
        background-color: #582828;
    }
    100%{
        background-color: #3c3c3c;
    }
}

body {
    
    /* background-color: #3c3c3c; */
    font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
    
    animation-name: pulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23ff0000' fill-opacity='0.71' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    margin: 0;
}

input[type="text"] {
    /* Specify the desired styles */
    padding: 5px;
    border-color: #aa3f3f;
    color: #aa3f3f; /* Set the text color */
    background-color: #000000; /* Set the background color */
    font-weight: bold;
}

button {
    padding: 5px;
    color: #582727;
    font-weight: bold;
}

a, a:hover, a:active, a:visited {color: #ffbaba;}
.link-button {
    background: none !important;
    border: none;
    padding: 0 !important;

    color: #ffbaba;
    
    cursor: pointer;
}

nav {
    background-color: #292929;
    padding: 10px 0px;
    color: #ffbaba;
    filter: drop-shadow(0px 10px 3px rgb(255, 61, 61));
}

.block {
    max-width: 800px;
    background-color: #292929;
    text-align: center;
    border-radius: 20px;
    color: #ffbaba;
    padding: 20px;
    margin: 0 auto;
    filter: drop-shadow(0px 5px 3px rgb(255, 61, 61));
}

.auth-form {
    text-align: left;
}

nav ul {
    padding: 10px 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
    padding: 15px;
    text-decoration: none;
} 
.terminal {
    background-color: black;
    text-align: left;
}
.terminal-comment {
    color: rgb(167, 78, 78);
}

.terminal-highlight {
    color: red !important;
}
.highlight {
    font-weight: bold;
    color: red !important;
}

nav ul li form {
    display: inline;
}nav ul li {
    display: inline;
}
li a {
    text-decoration: none;
}

/* Movie List */
.movie-queue {
    text-align: left;
}

.movie-queue li {
    padding: 25px;
    background-color: rgb(49, 40, 40);
}
.movie-queue li:nth-child(odd) {
    padding: 25px;
    background-color: rgb(66, 53, 53);
}

li form {
    padding: 0;
}